<div class="container" style="display: flex;
justify-content: center;
position: relative;
top: 125px;
left: 555px;">
    <form class="register-form">
        <h2>Register</h2>
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Enter your name" required
            [(ngModel)]="this.postObj.name" name="name"
            >
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" required
            [(ngModel)]="this.postObj.email"
             name="email"   
            >
            
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" required
            [(ngModel)]="this.postObj.password"
             name="password"   
            >
            
        </div>
        <button type="submit" class="btn" (click)="generateOTP()">Send Otp</button>
        <br>
        <div class="input-group">
            <label for="image">Upload OTP Image</label>
            <input type="file" id="uploadotp" required
            (change)="fileUpload($event)"
            >
        </div>
        <button type="submit" class="btn" (click)="Verifyotp()" *ngIf="!otpVerified">Verify OTP</button>
        <button type="submit" class="btn" *ngIf="otpVerified" (click)="registerUser()">Register</button>
    </form>
</div>